:root {
  --primary-color: #2f4543;     
  --accent-color: #cfa42b;  
}
@font-face {
  font-family: 'logoFont';
  src: url(./assets/font/Cotton\ Candies.ttf);
}  

body {
  display: flex;
  flex-direction: column;
  width: max(1151px,100%);
}
header{
  display: flex;
  background-color: var(--primary-color);
  height: 9vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw 0 5vw;
  box-shadow: 0 1px 5px #1a1a1a;
  position: sticky;
  top: 0;
  z-index: 2;
}
.logo{
  font-family: 'logoFont';
  font-size: clamp(1rem, 3.5rem, 7vh);
  color: rgb(221, 221, 221);
}
.logo>span{
  color:var(--accent-color);
}
nav{
  display: flex;
  gap: 3vw;
}
nav>button{
  font-family: Arial, Helvetica, sans-serif;  
  font-size: clamp(1rem, 1.2rem, 4vh);
  color: white;
  background: none;
  border: none;
  padding: 0;
}
.btnLight{
  color: var(--accent-color);
  font-size: 2rem;
}

.intro{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5vh 5vw 2vh 5vw;
  height: 600px;
  border-radius: 0 0 3vw 3vw;
  background-image: url(./assets/img/pexels-shardar-tarikul-islam-84327533-8983402.jpg);    
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
}
.quote{  
  font-size: 2rem;  
  color: wheat;
  display: block;
  margin-bottom: -1rem;
}
.intro>p{
  font-size: 5rem;
  font-weight: bold;
  width: clamp(40vw, 800px, 80vw);
  color: wheat;
  line-height: 1;
}
.highlightQuote{
  color: var(--accent-color);
  font-family: 'logoFont';
  font-weight: 100;  
  font-size: 6rem;
}

.aboutUs{  
  display: flex;
  align-items: center;
  height: 60vh;
  justify-content: center;
  gap: 5vw;
}
.aboutImg{
  height: clamp(15vw,300px,45vw);
  width: clamp(15vw,300px,45vw);
  background-image: url(./assets/img/pexels-shootsaga-30604602.jpg);
  background-size: cover;
  background-position: center 10%;
  border-radius: 50%;
  flex-shrink: 0;
  border: 0.3rem solid var(--accent-color);
}
.aboutDesc{
  width: clamp(30vw, 600px, 50vw);  
}
.aboutDesc>h2{
  font-family:Arial, Helvetica, sans-serif ;
  font-weight: bold;
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.aboutDesc>h2>span{
  color: var(--accent-color);
}
.aboutDesc>p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--primary-color);
  text-align: justify;
}

.whyUs{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;  
  border-radius: 3vw 3vw 0 0;   
  position: relative;
  overflow: hidden;
  padding: 3rem 5vw 2rem 5vw;
  gap: 2rem;
}
.whyUs::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 60vh;
  width: 100%;
  background-image: url(./assets/img/pexels-kunal-lakhotia-781256899-29173122.jpg);
  background-position: 30% 60%;
  background-size: cover; 
  filter: blur(2px);
  transform: scale(1.1);
  z-index: -1;
}
.whyUs>h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: var(--accent-color);
  
}
.whyCards{
  display: flex;
  gap: 3rem;
}
.reviewCard{
  display: flex;
  gap: 0.7rem;
  padding: 1rem;
  flex-direction: column;
  height: max(280px, 15vh);
  width: max(300px, 15vw);
  
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color:#242424;

  background-color:  rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
.reviewCard>p{
  font-style: italic;
  color: #192423;
}
.rvwrTag{
  display: flex; 
  align-items: center; 
  gap: 1rem;
}
.rvwrName{    
  gap: 1rem;
  font-weight: bold;
  color: #000000;
}
.rvwrAvatar{ 
  background-image: url(./assets/avatars/bear.png);
  background-size: cover;
  background-position: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* menuSection */
.menuTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "logoFont";
  color: #2f4543;
  font-size: 3rem;
  padding: 3rem 0 3rem 0;
  gap: 1rem;
}
.menuTitle>h1{
  font-weight: 100;
}
.menuTitle>h1>span{
  color: var(--accent-color);  
  font-weight: 100;
}
.menuTitle>span{  
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #838383;
  font-size: 1rem;
}

.menuArea{
  margin: 20vh 0 15vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 10rem;
  place-items: center;
}
.menuReservation{
  margin: 10vh 10vh 15vh 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.menuReservation>span{
  font-family: "logoFont";
  font-size: 5rem;
  color: var(--primary-color)
}
.serviceList{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;  
}
.serviceCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cateringIcon{
  background-color: var(--accent-color);
  mask-image: url(./assets/icon/catering.svg);
  mask-size: cover;
  mask-position: center;
  width: 10vw;
  height: 10vw;
}
.deliIcon{
  background-color: var(--accent-color);
  mask-image: url(./assets/icon/truck-delivery.svg);
  mask-size: cover;
  mask-position: center;
  width: 10vw;
  height: 10vw;
}
.bookIcon{
  background-color: var(--accent-color);
  mask-image: url(./assets/icon/table-chair.svg);
  mask-size: cover;
  mask-position: center;
  width: 10vw;
  height: 10vw;
}
.serviceCard>h2{  
  color: #2f4543;
  font-size: 2rem;
}
.serviceCard>span{
  text-align: center;
  font-size: 1rem;
  color: #2f4543;
  margin-top: 1rem;
  width: 20vw;
}
.menuCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vh;
  height: 45vh;
  background-color: var(--primary-color);
  border-radius: 10%;
  padding: 0 1.5rem 1rem 1.5rem;
  gap: 1rem;
  justify-content: space-between;
  color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}
.menuImg{
  background-color: #2f4543;
  width: 25vh;
  height: 25vh;
  transform: translate(0, -8vh);
  border-radius: 50%;
  margin-bottom: -8vh;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.menuName{
  font-family: "logoFont";
  font-size: 2rem;
  color: var(--accent-color);
}
.menuDesc{  
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
}
.menuPrice{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;  
}
.risotto{
  background-image: url(./assets/img/risotto.jpg);
  background-size: cover;
}
.apple{
  background-image: url(./assets/img/apple\ \(1\).jpg);
  background-size: cover;
}
.golden{
  background-image: url(./assets/img/golden.jpg);
  background-size: cover;
  background-position: center 55%;  
}
.steak{
  background-image: url(./assets/img/steak.jpg);
  background-size: cover;
}
.forest{
  background-image: url(./assets/img/forest.jpg);
  background-size: cover;
}
.cake{
  background-image: url(./assets/img/cake.jpg);
  background-size: cover;
  background-position: 55% 42%;
}

/* contact section */
.contactBanner{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.8)
    ),url(./assets/img/pexels-kunal-lakhotia-781256899-29173122.jpg);
  background-size: cover;
  background-position: center 70%;
  height: clamp(50vh, 500px, 60vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.contactBanner>span{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  margin-top: 4rem;
}
.contactBanner>h1{
  font-family: "logoFont";
  color: #f0c758;
  font-size: 10rem;
  font-weight: 200;
  margin-top: -2rem;
}
.contactInfos{
  display: flex;
  justify-content: space-around;
  gap: 10vw;
  padding: 20vh 10vw 20vh 10vw;
  font-family: Arial, Helvetica, sans-serif;
}
.location, .phone, .mail{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  text-align: center;
  color: var(--primary-color);
}
h2{
  font-family: "logoFont";
  font-size: 3rem;
  font-weight: 200;
}
p+span{
  font-weight: bold;
}
.locIcon, .phoneIcon, .mailIcon{  
  width: 10vw;
  height: 10vw;
  background-color: var(--accent-color);
  mask-size: cover;
  mask-position: center;  
  background-position: center;
}
.locIcon{  
  mask-image: url(./assets/icon/map-marker.svg);  
}
.phoneIcon{  
  mask-image: url(./assets/icon/phone-classic.svg);  
}
.mailIcon{  
  mask-image: url(./assets/icon/email-outline.svg);  
}
.vl{
  border-left: 1px dashed rgb(209, 209, 209);
  height: 50vh;
  margin: 0 -5vw 0 -5vw;
}
.hl{
  border-top: 2px dashed rgb(209, 209, 209);
  width: 80%;
  margin: 5vh 0 5vh 0;
  justify-self: center;
}