/* :root {
  --primary-color: #2f4543;
  --accent-color: #cfa42b;
}
@font-face {
  font-family: "logoFont";
  src: url(./assets/font/Cotton\ Candies.ttf);
} */

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/pero-kalimero-9BJRGlqoIUk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.toprow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#welcomeMsg {
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
}

form{
  /* form doesnt effect styling, like it doesnt exist in the layout */
  display: contents;
}
#search {
  margin-top: 0.2em;
  background: rgba(0, 0, 0, 0.375) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNqslI0RgyAMhdENWIEVWMEVXIGO0BW6Ah2hHcGOoCPYEewINFzBe9IA9id37w4kfEZesHHOCSYUqSPJML+RJlELDwN1pMHxMZNMkr8RTgyz2YPH5LmtwXpIHkOFmKhIlxowDmYAycKnHAHYcTCsSpXOJCie6YWDnXKLGeHLN2stGaqDsXXrX3GFcYcLrfhjtKEhffQ792gYT2nT6pJDjCw4z7ZGdGipOIqNbXIwFUARmCbKpMfYxsWJBmCEDoW7+gYUTAU2s3HJrK3AJvMLkqGHFLgWXTckm+SfSQexs+tLRqwVfgvjgMsvMAT689S5M/sk/I14kO5PAQYAuk6L1q+EdHMAAAAASUVORK5CYII=) no-repeat 14px 14px;
  text-indent: 1em;
  display: inline-block;
  border: 0 none;
  width: 0;
  height: 3em;
  border-radius: 3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  padding: 1em 1.5em;
  cursor: pointer;
  -webkit-appearance: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  color: #999;
  vertical-align: baseline;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search:hover,
#search:focus {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNqsVLtOw0AQtIMlRJHCEhUVMg398QEUSZnSfILzCXxDPsFu6XAJHWnTcS1lWsprKdmLxtKwvjVBYaTV7cm+udnX5fPb+yyBSmwhVmK/FfPZLyjUPhI8YtXYi23EOovs7PzyevAbsWeoGg5HNUHsCipX8F9TZDOstVgLPxIsxW6w3sHv6dJ2StkLbh6IPtR/AWRfSIET20H9D2U1hfaAgxY2KMagcBSmg9/rmwx0lBqTzGfHoVfVHxXgXzCjHNRHnnHke4vMGc2q0RBR0GSeCLlpLaJGFWKUszVuib32nih7iTFrjXAPyGnQ48c3Gu5AOVlMtMk6NZuf+FiC+AIhV0T+pBQ5ntXceIJKqKko2duJ2TwoLAz5QTVnagJaXWEO8y/wSMuKH9RTJoCTHyNZFidOUEfNu/8WYAAOXUT04MOtlwAAAABJRU5ErkJggg==) 14px 14px no-repeat;
}

#search:focus {
  width: 100px;
  cursor: text;
  flex-basis: 85%;
}